.navbar {
    background-color: #71A6D3;
}
.inicio {
    background-color: #83B1D9;
    color: white;
    font-style: italic;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.sobre {
    background-color:#CADEEF;
    color: #71A6D3;
}
.contato{
    background-color:#DBE9F4;
    color: #71A6D3;
}